<BottomNavigation >
    <TabStrip class="tab-strip" iosIconRenderingMode="alwaysOriginal">

        <TabStripItem class="">
            <Label text="Library"></Label>
            <Image src="font://&#xf007;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="Top Games"></Label>
            <Image src="font://&#xf0c0;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="Add Games"></Label>
            <Image src="font://&#xf0c0;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="Log Out"></Label>
            <Image src="font://&#xf0c0;" class="fas t-36"></Image>
        </TabStripItem>

    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="gamesTab" actionBarVisibility="true"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="topGamesTab" actionBarVisibility="true"></page-router-outlet>
    </TabContentItem>
    
    <TabContentItem>
        <page-router-outlet name="addGamesTab" actionBarVisibility="true"></page-router-outlet>
    </TabContentItem>
    
    <TabContentItem>
        <page-router-outlet name="logOutTab" actionBarVisibility="true"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>