<BottomNavigation >
    <TabStrip class="tab-strip" iosIconRenderingMode="alwaysOriginal">

        <TabStripItem class="">
            <Label text="Library"></Label>
            <Image src="font://&#xf11b;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="Top 10 Games"></Label>
            <Image src="font://&#xf091;" class="fas t-36"></Image>
        </TabStripItem>
        <TabStripItem>
            <Label text="Add Games"></Label>
            <Image src="font://&#xf0fe;" class="far t-36"></Image>
        </TabStripItem>

    </TabStrip>

    <TabContentItem>
        <page-router-outlet name="gamesTab" actionBarVisibility="true"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="topGamesTab" actionBarVisibility="true"></page-router-outlet>
    </TabContentItem>
    
    <TabContentItem>
        <page-router-outlet name="addGamesTab" actionBarVisibility="true"></page-router-outlet>
    </TabContentItem>
    
</BottomNavigation>