
<Page class="page__content page" shownModally="onShownModally" xmlns:ui="nativescript-star-ratings" >
    <StackLayout height="100%" width="100%" class="p-20 page modal-page"> 
        <Label class="h1 text-center" text="{{game.title}}" textWrap="true"></Label>

        <GridLayout class="modal-grid" columns="auto, auto" rows="auto, auto, auto" width="100%" height="70%">           
            <Image  verticalAlignment="top" width="25%" row="0" col="0" src="{{game.image}}" stretch="aspectFit"></Image>
            
            <!-- <Label text="Game Data"  backgroundColor="green"></Label> -->

            <StackLayout verticalAlignment="top" class="game-details" width="75%" height="25%" row="0" col="1" orientation="vertical">
                <Label>
                    <FormattedString>
                        <Span fontSize="20" fontWeight="Bold" text="Release Date: "></Span>
                        <Span fontSize="18" color="#1eb980" text="{{game.releaseDate}}"></Span>
                    </FormattedString>
                </Label>

                <Label>
                    <FormattedString>
                        <Span fontSize="20" fontWeight="Bold" text="Developer: "></Span>
                        <Span fontSize="18" color="#1eb980" text="{{game.developer}}"></Span>
                    </FormattedString>
                </Label>

                <Label>
                    <FormattedString>
                        <Span fontSize="20" fontWeight="Bold" text="Publisher: "></Span>
                        <Span fontSize="18" color="#1eb980" text="{{game.publisher[0]}}"></Span>
                    </FormattedString>
                </Label>

                <Label>
                    <FormattedString>
                        <Span fontSize="20" fontWeight="Bold" text="Genres:"></Span>
                    </FormattedString>                                    
                </Label>         
 

                <ScrollView orientation="horizontal">
                    <StackLayout orientation="horizontal" height="35">
                        <GridLayout *ngFor="let item of game.genre" rows="*, auto" columns="auto"> 
                            <StackLayout row="1" class="list-group-item">
                                <Label class="genre-item" fontSize="22" [text]="item" color="#1eb980"></Label>
                            </StackLayout>
                        </GridLayout> 
                    </StackLayout>
                </ScrollView>                       
            </StackLayout>      

            
            <ScrollView orientation="vertical" row="1"  colSpan="2" width="100%" height="60%">
                <GridLayout rows="auto">
                    <Label fontSize="18" row="0" text="{{game.description}}" textWrap="true"></Label>
                    
                </GridLayout>
            </ScrollView>
        </GridLayout>

        <StackLayout row="2" colSpan="2" class="m-1 m-b-2 m-t-0 container-rounded">
            <StarRating filledBorderColor="#1eb980" filledColor="#1eb980" style="width:240" class="m-x-auto" (valueChange)="setScore($event)" max="5" [value]="score">
            </StarRating>
        </StackLayout>

        <Button class="btn btn-primary" verticalAlignment="bottom" width="90%" text="Add to Library" (tap)="close()"></Button>

    </StackLayout>

</Page>

